SSD_DIR=/mnt/ssd
HDD_DIR=/mnt/hdd
TZ=Etc/UTC
# HOMEPAGE
SERVER_URL=http://localhost
# BACKUP
BACKUP_LOCATION=/mnt/hdd/backups
BACKUP_ENCRYPTION_KEY=
# IMMICH
UPLOAD_LOCATION=/mnt/hdd/photos
DB_DATA_LOCATION=/mnt/ssd/immich/postgres
DB_PASSWORD=toChange
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
# PAPERLESS-NGX
PAPERLESS_DB_PASSWORD=toChange
PAPERLESS_DB_USERNAME=paperless
PAPERLESS_DB_NAME=paperless
PAPERLESS_SECRET_KEY=toChange
PAPERLESS_URL=http://localhost:8096
