- Management:
    - Portainer:
        icon: portainer.png
        href: ${SERVER_URL}:8088
        description: Container management
        server: my-server
        container: portainer

    - File Browser:
        icon: filebrowser.png
        href: ${SERVER_URL}:8089
        description: File management
        server: my-server
        container: file-browser

- Media:
    - Jellyfin:
        icon: jellyfin.png
        href: ${SERVER_URL}:8091
        description: Media streaming
        server: my-server
        container: jellyfin

    - Transmission:
        icon: transmission.png
        href: ${SERVER_URL}:8090
        description: BitTorrent client
        server: my-server
        container: transmission-container

    - Calibre Web:
        icon: calibre-web.png
        href: ${SERVER_URL}:8092
        description: eBook library
        server: my-server
        container: calibre-web

- Media Automation:
    - Prowlarr:
        icon: prowlarr.png
        href: ${SERVER_URL}:8099
        description: Indexer manager
        server: my-server
        container: prowlarr

    - Sonarr:
        icon: sonarr.png
        href: ${SERVER_URL}:8097
        description: TV show automation
        server: my-server
        container: sonarr

    - Radarr:
        icon: radarr.png
        href: ${SERVER_URL}:8098
        description: Movie automation
        server: my-server
        container: radarr

- Files & Photos:
    - Syncthing:
        icon: syncthing.png
        href: ${SERVER_URL}:8093
        description: File synchronization
        server: my-server
        container: syncthing

    - Immich:
        icon: immich.png
        href: ${SERVER_URL}:8094
        description: Photo & video backup
        server: my-server
        container: immich_server

- Data:
    - Paperless-ngx:
        icon: paperless-ngx.png
        href: ${SERVER_URL}:8096
        description: Document management
        server: my-server
        container: paperless-ngx

    - Duplicati:
        icon: duplicati.png
        href: ${SERVER_URL}:8095
        description: Encrypted backups
        server: my-server
        container: duplicati
