{
	auto_https off
}

home.{$DOMAIN} {
	reverse_proxy localhost:8087
}

portainer.{$DOMAIN} {
	reverse_proxy localhost:8088
}

files.{$DOMAIN} {
	reverse_proxy localhost:8089
}

transmission.{$DOMAIN} {
	reverse_proxy localhost:8090
}

jellyfin.{$DOMAIN} {
	reverse_proxy localhost:8091
}

books.{$DOMAIN} {
	reverse_proxy localhost:8092
}

documents.{$DOMAIN} {
	reverse_proxy localhost:8096
}

syncthing.{$DOMAIN} {
	reverse_proxy localhost:8093
}

immich.{$DOMAIN} {
	reverse_proxy localhost:8094
}

duplicati.{$DOMAIN} {
	reverse_proxy localhost:8095
}
